html {
  background-color: #FFFBF0;
  padding: 0;
  margin: 0;
  color: transparent;
}

img {
  position: absolute;
  object-fit: cover;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 20%;
  z-index: -1;

}

body {
  width: 100vw;
  border-style: solid;
  min-height: 100vh;
}

header {
  margin-left: 150px;
  margin-bottom: 150px;
}
nav {
  background-color: #313131;
  height: 100vh;
  width: 120px;
  float: left;
  position: fixed;
  top: 0;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  text-decoration: none;
  text-align: center;
  color: #FFFBF0;
}

a:hover, a:active, a:focus {
  color: #F25937;
}

#header2 {
  text-align: center;
  margin: 0;
}

